@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@media(max-width: 1020px) {
    body #gameForPc {
        display: none;
    }

    html #brake-point-info {
        display: block;
        width: 50%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 1;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
    }
}

@media(max-height: 580px) {
    body #gameForPc {
        display: none;
    }

    html #brake-point-info {
        display: block;
        width: 50%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 1;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
    }
}



#brake-point-info {

    display: none;
}

#brake-point-info h1 {
    font-size: 25pt;
}

#brake-point-info p {
    font-size: 15pt;
    font-weight: 400;
}


/* colors setup */
.red {
    color: red;
}

.blue {
    color: rgb(32, 144, 236);
}

.white {
    color: #fff;
}

.orange {
    color: #ffc400;
}

.green {
    color: #4CAF50;
}

/* body styling and dn all the parameters that i need */
body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    background: linear-gradient(81deg, rgba(0, 0, 0, 1) 0%, rgba(255, 10, 10, 08071603641456583) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    background: linear-gradient(81deg, rgba(0, 0, 0, 1) 0%, rgba(255, 10, 10, 08071603641456583) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    display: none;
}

.title {
    display: none;
}



body .settingsBtnBox {
    display: none;
}


/* the forms styling sign up and login */
.formContainer {
    width: 350px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 0px 40px #000;
    border-radius: 13px;
}


form {
    margin-top: 2rem;
    width: 350px;
    height: 200px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    line-height: 2;

}

.formContainer h1 {
    margin-left: 140px;
    font-family: Bebas Neue;
}

.formContainer input {
    width: 200px;
    height: 20px;
    margin-left: 70px;
    border: 2px solid #666;
}

.formContainer label {
    margin-left: 70px;
    color: #000;
    font-size: 14pt;
    margin-top: 0px;
    font-weight: bolder;
    font-family: cursive, Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
}

.formContainer button {
    margin-left: 127px;
    font-family: Bebas Neue;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14pt;
    font-weight: bold;
    width: 100px;
    background: linear-gradient(25deg, #c2b1b1 20%, #ff4757 100%);
    border: none;
    margin-top: 9px;
    padding: 5px 20px 5px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    z-index: 1;

}

.formContainer button:active {
    scale: 0.9;
}

.formContainer input[type="checkbox"] {
    position: absolute;
    margin-left: 125px;
    margin-top: 69px;
}

.formContainer span {
    position: absolute;
    padding-left: 105px;
    padding-top: 70px;
    font-weight: bold;
    z-index: 0;
}

.old {
    animation: fadeOut 2s ease-in;
}

.new {
    animation: replace 3s ease-in;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes replace {
    0% {
        position: absolute;
        top: 0;
    }

    100% {
        top: 55%;
    }
}

/* media for login and signup */
@media(max-width: 375px) {
    .formContainer {
        width: 300px;
    }

    .old {
        animation: none;
    }

    .new {
        animation: none;
    }


    .formContainer h1 {
        margin-left: 118px;
    }

    .formContainer input,
    .formContainer label {
        margin-left: 50px;
    }

    .formContainer button {
        margin-left: 100px;
    }

    .formContainer input[type="checkbox"] {
        margin-left: 95px;
    }

    .formContainer span {
        padding-left: 75px;
    }

    .formContainer form {
        width: 300px;
    }
}

/* distance made styling */
#distance {
    top: 2px;
    width: 300px;
    position: absolute;
    padding-right: 10px;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

/* wining styling and all the small details on the screen */
.winFlag {
    background-image: url(../gallery/victoryFlagImage.webp);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 230px;
    height: 230px;
    animation: winFlag 2s ease-in;
    margin: 0 auto;
    z-index: 1;
    margin-bottom: 296px;
    text-align: center;
    padding-top: 0.9rem;
    font-weight: bold;
    font-size: 24pt;
    display: none;
}

.winFlag a {
    text-decoration: none;
    color: #fff;
    line-height: 2;
}

@keyframes winFlag {
    0% {
        height: 0px;
    }

    100% {
        height: 230px;
    }
}

.welcome {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 29%;
    z-index: 1;
    display: none;
}

.welcome p {
    font-size: 1.3rem;
    color: orange;
}

.title {
    position: absolute;
    font-size: 2em;
    color: #FFD700;
    text-transform: capitalize;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.7);
    transform: perspective(300px) rotateY(15deg);
    /* אפקט תלת מימד */
    margin-bottom: 25rem;
}



.fade {
    animation: title 2s ease-in;
}

@keyframes title {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* settings styling */
.settingsBtnBox {
    width: 1024px;
    height: 576px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    flex-direction: row-reverse;
}



.settings {
    width: 1024px;
    height: 576px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    background-color: #fff;
    display: none;
}

.settingsBtn {
    top: 4px;
    left: 0;
    position: absolute;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
}


.settingsInfo {
    box-sizing: border-box;
    padding-top: 55px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    font-family: 'Press Start 2P', arial;
}

.settingsInfo h1 {
    color: orangered;
}

.keysBox {
    width: 500px;
    height: 170px;
    padding-top: 20px;
}

.keysBox h3 {
    color: #4CAF50;
    font-size: 18pt;
}

.keysBox .key {
    width: 400px;
    display: flex;
    margin: 10px auto;
    padding-left: 115px;
    box-sizing: border-box;
    font-size: 10pt;
}

img[alt='SpacebarKey'] {
    width: 50px;
    height: 20px;
}

.aboutBox {
    width: 50%;
    margin: 0 auto;
    line-height: 1.5;

}


/* map styling */
.settingsBtnBox img[alt='road Map'] {
    width: 50px;
    height: 30px;
}

#mapBtn {
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
}

.map #mapBtn img {
    width: 50px;
    height: 30px;
}

.map {
    position: absolute;
    width: 1027px;
    height: 576px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.map img {
    width: 1027px;
    height: 576px;
}

.map a {
    position: absolute;
    z-index: 3;
    font-size: 22pt;
    color: #fff;
    padding: 17px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.btn-3d {
    background-color: #ff4757;
    font-weight: bold;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    bottom: 0;
    text-align: center;
}

.btn-3d:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(to right, #ff6b81, #ff4757);
    z-index: -1;
    transition: all 0.2s ease;
    outline: 2px solid aqua;
}

.btn-3d:hover {
    scale: 0.92;
}

.btn-3d:active {
    transform: scale(0.85);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-3d:active:before {
    transform: scale(0.85);
}

.lvl-1 {
    position: absolute;
    left: 60px;
    bottom: 110px;
}

.lvl-2 {
    position: absolute;
    left: 220px;
    bottom: 180px;
}

.lvl-3 {
    position: absolute;
    left: 393px;
    bottom: 210px;
}

.lvl-4 {
    position: absolute;
    left: 550px;
    bottom: 275px;
}

.lvl-5 {
    position: absolute;
    left: 650px;
    bottom: 380px;
}

.lvl-6 {
    position: absolute;
    left: 750px;
    bottom: 480px;
}

/* map overlay styling */

.overlay {
    width: 100%;
    height: 100%;
    background-color: #cccccca2;
    position: absolute;
    z-index: 4;
}

.overlay .map-info {
    width: 50%;
    height: 50%;
    margin: 6rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.map-info h1 {
    color: #ffc400;
    font-weight: normal;
    font-size: 20pt;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.map-info p {
    color: #070707;
    font-weight: bold;
    font-size: 15pt;
}